# Google Sheets Configuration
GOOGLE_SHEET_ID=1itd22cfFXkzydebKDMK3WT_ZeQWMU9eQyDc5tmAtnUY

# Google Drive Configuration
# This is for accessing shared files without OAuth
GOOGLE_DRIVE_FOLDER_ID=1aRxEd4xQ0ewdnbXkyyqb7rL7CoSPZnrx

# Next.js
NEXT_PUBLIC_GOOGLE_SHEET_ID=1itd22cfFXkzydebKDMK3WT_ZeQWMU9eQyDc5tmAtnUY
